/* هر کدوم رو اگه می‌تونی زیر همون بخش بزن که منظم باشه */

/* global styles */
.active_paginate{
    background-color: white !important;
    color: black !important;
}

.active_paginate:hover{
    background-color: #cce8e8 !important;
}

.active_icon{
    background-color: #DEFFFF !important;
    color: black !important;
}
.active_icon:hover{
    background-color: #afecec !important;
}

/* index page styles */
.table_opacity {
    -webkit-mask-image: -webkit-gradient(linear, left top,
            left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.034)));
}

/* supporters page styles */

/* upload_video page styles */

/* videos page styles */

/* vote pages styles */

.people_count{
   
    font-size: 130px;
}

@media (max-width: 992px) {
    .people_count{
   
        font-size: 110px;
    }
}