/* هر کدوم رو اگه می‌تونی زیر همون بخش بزن که منظم باشه */

/* global styles */
@font-face {
    font-family: "Estedad";
    src: url("/fonts/Estedad-FD[KSHD\,wght].woff2");
    font-weight: 400;
}

body{
    overflow-x: hidden!important;
}

*,p,h1,body,h2,h3,h4,h5,h6,span,button,label,input,li,ul,ol,a{
    font-family: "Estedad";
}
button,.toastify,div,option{
    font-family: "Estedad"!important;
}


h1,h2,h3{
    font-weight: 700;
}


.loading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.active_paginate {
    background-color: white !important;
    color: black !important;
}

.active_paginate:hover {
    background-color: #cce8e8 !important;
}

.active_icon {
    background-color: #DEFFFF !important;
    color: black !important;
}

.active_icon:hover {
    background-color: #afecec !important;
}

.opacity {
    background:
        /*linear-gradient(0deg, rgb(255, 255, 255), rgba(255, 0, 0, 0) 30.71%),*/
        /* linear-gradient(127deg, transparent, rgb(255, 255, 255) 100%), */
        linear-gradient(to top, rgb(255, 255, 255) 0%, transparent 70%), url(/public/images/pattern-0.5.png);
}

.opacity_jalili {
    background:
        linear-gradient(to top, rgb(255, 255, 255) 0%, transparent 70%)
}

/* index page styles */
.table_opacity {
    -webkit-mask-image: -webkit-gradient(linear, left top,
            left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0.034)));
}

/* supporters page styles */

/* upload_video page styles */

/* videos page styles */

/* vote pages styles */

.people_count {

    font-size: 130px;
}

@media (max-width: 992px) {
    .people_count {

        font-size: 110px;
    }
}

@media (max-width: 576px) {
    .people_count {
        
        font-size: 90px;
    }
}

/* demand pages styles */
.demand-container{
    min-height: 79vh;
}

@media (max-width: 640px) {
    .demand-container {
        min-height: 81.9vh;
    }
    
}

@media (max-width: 768px) {
    .demand-container {
        min-height: 83vh;
    }
    
}


/* video page */

.video-item{
    display: flex;
    background-color: black;
    /* align-items: stretch; */
    justify-content: center;
    /* max-height: 200px; */
    height: 500px;
    width: 220px;
    overflow: hidden;
    margin: 0 auto;
}


video{
    object-fit: cover;
  object-position: center;
}



@media (min-width: 1120px) {
    .video-item {
        width: 300px;
    }
    
}